@using PI_3.Models;
<div class="wrapper">
    <!--HEADER-->    
    <div class="header-wrapper">
        <div class="header">
            <div class="header-left">

            </div>
            <div class="header-center">
                <div class="mobile-header-backdrop"></div>
                <div class="mobile-header">
                    <button class="mdc-icon-button material-icons header-icon-button" style="left: 8px" id="mobile-sidebar-button">menu</button>
                    <button class="header-search-field" id="mobile-search-button" onclick="SearchModalFocus()">Buscar...</button>
                    <button class="mdc-icon-button header-icon-button" style="right: 8px;" data-micromodal-trigger="modal-1"><img class="header-img-button" src="~/img/porter.jpg"></button>
                </div>
            </div>
            <div class="header-right">

            </div>
        </div>
    </div>
    <!--SIDEBAR-->
    <div class="sidebar-wrapper" id="sidebar">
        <div class="sidebar">
            <div class="mobile-sidebar">
                <div class="sidebar-section">
                    <div class="section-new">
                        <div class="sidebar-logo-container">
                            <i class="material-icons sidebar-logo">book</i>
                        </div>
                        <button class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="width:100%" data-micromodal-trigger="modal-3">
                            <span class="mdc-button__label">Escrever Pergunta</span>
                        </button>
                    </div>
                </div>
                <div class="sidebar-section">
                    <div class="section-default">
                        <ul id="my-list" class="mdc-list" role="listbox">
                            <li class="mdc-list-item mdc-list-item--selected" style="padding: 0;" role="option" aria-selected="true">
                                <span class="mdc-list-item__text materia-title-container">
                                    <span class="materia-title">
                                        <span class="materia-title-inner">Inbox
                                            <span class="selected-underscore"></span>
                                        </span>
                                    </span>
                                </span>
                            </li>
                            <li class="mdc-list-item" style="padding: 0;" role="option" aria-selected="false" tabindex="0">
                                <span class="mdc-list-item__text materia-title-container">
                                    <span class="materia-title">
                                        <span class="materia-title-inner">Arquivadas
                                            <span class="selected-underscore"></span>
                                        </span>
                                    </span>
                                </span>
                            </li>
                            <div class="list-title">Cursos
                                <button class="mdc-icon-button material-icons" style="font-size: 18px;padding: 0;height: 30px;width: 30px;margin-right: 20px;" data-micromodal-trigger="modal-4">edit</button>
                            </div>
                            @foreach (CursoAluno c in ViewBag.CursoAluno) {
                                @if (@c.statusInvite == 0)
                                {
                            <li class="mdc-list-item list-select" role="option" aria-selected="true" tabindex="0" data-id="@c.CursoAlunoId">
                                <span class="mdc-list-item__text materia-title-container">
                                    <span class="materia-title">
                                        <span class="materia-title-inner">@c.Curso.CursoNome
                                            <span class="selected-underscore"></span>
                                        </span>
                                    </span>
                                </span>
                                <div class="list-label-container">
                                    <span class="list-label" style="background: @c.CursoAlunoTag"></span>
                                </div>
                            </li>  
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="desktop-sidebar">
                <div class="desktop-sidebar-closed">

                </div>
                <div class="desktop-sidebar-open">
                    
                </div>
            </div>

        </div>
    </div>
    <!--CONTENT-->
    <div class="content-wrapper">
        <div class="content-container">
            <div class="mobile-content">
                <div class="mobile-content-header">
                    <div class="current-inbox-title">Inbox</div>
                    <button class="mdc-button" data-micromodal-trigger="modal-2">
                        <i class="material-icons mdc-button__icon" aria-hidden="true">email</i>
                        <span class="mdc-button__label">Convites</span>
                    </button>
                </div>
                <div class="mobile-content-body">
                    <div class="mail-list-wrapper">
                        <div class="mail-list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="desktop-content">

        </div>
    </div>
</div>
<!--MODALS-->
<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" data-micromodal-close>chevron_left</button>
                <h2 class="modal__title" id="modal-1-title">Configurações</h2>
            </header>
            <main class="modal__content" id="modal-1-content" style="padding: 0;">
                <ul class="mdc-list">
                    <li class="mdc-list-item" tabindex="0" data-micromodal-trigger="modal-6">
                        <span class="mdc-list-item__text">Conta</span>
                    </li>
                    <li class="mdc-list-item" tabindex="0" data-micromodal-trigger="modal-7">
                        <span class="mdc-list-item__text">Senha</span>
                    </li>
                </ul>
            </main>
            <footer class="modal__footer">
                <button onclick="logout()" class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="width: 100%; margin-top: 15px;height: 46px;width: 100%;margin-top: 15px;">Log Out</button>
            </footer>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-2-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" data-micromodal-close>chevron_left</button>
                <h2 class="modal__title" id="modal-2-title">Convites</h2>
            </header>
            <main class="modal__content" id="modal-2-content">
                <div class="invite-wrapper" id="list-invites">
                @foreach (CursoAluno c in ViewBag.CursoAluno) {
                    @if (@c.statusInvite == 1)
                    {
                    <div class="invite" id="invite-curso-aluno-@c.CursoAlunoId">
                        <div class="invite-left">
                            @c.Curso.CursoNome
                        </div>
                        <div class="invite-right">
                            <button onclick="acceptInvite(@c.CursoAlunoId)" class="mdc-icon-button material-icons">check</button>
                            <button onclick="declineInvite(@c.CursoAlunoId)" class="mdc-icon-button material-icons">clear</button>
                        </div>
                    </div>
                    }
                }
                </div>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-3" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-3-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" data-micromodal-close>chevron_left</button>
                <h2 class="modal__title" id="modal-3-title">Escrever Pergunta</h2>
            </header>
            <main class="modal__content" id="modal-3-content">
                <form id="pergunta-form" class="form-wrapper" name="form" enctype="multipart/form-data" method="post">
                    <label for="nome-pergunta" class="input-label" style="margin-top: -10px; margin-bottom: 5px;">Curso</label>
                    <div class="mdc-select">
                        <div class="mdc-menu-surface--anchor mdc-select__anchor custom-enhanced-select-width mdc-ripple-upgraded">
                            <input type="hidden" name="enhanced-select" id="curso-select">
                            <i class="mdc-select__dropdown-icon"></i>
                            <div class="mdc-select__selected-text"></div>
                            <span class="mdc-floating-label">Selecionar...</span>
                        </div>
                        <div class="mdc-select__menu mdc-menu mdc-menu-surface demo-enhanced-select custom-enhanced-select-width">
                            <ul class="mdc-list" id="lista-cursos">
                                @foreach (CursoAluno c in ViewBag.CursoAluno) {
                                <li class="mdc-list-item" data-value="@c.CursoAlunoId">
                                    @c.Curso.CursoNome
                                </li>
                                }
                            </ul>
                        </div>
                    </div>

                    <label for="nome-pergunta" class="input-label">Assunto</label>
                    <div class="mdc-text-field mdc-text-field--outlined">
                        <input class="mdc-text-field__input" id="assunto-pergunta" type="text" maxlength="50">
                        <div class="mdc-notched-outline mdc-notched-outline--no-label">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field-helper-line">
                        <div class="mdc-text-field-character-counter">0 / 50</div>
                      </div>
                    <div class="mdc-text-field mdc-text-field--textarea" style="margin-top: 20px">
                        <textarea id="texto-pergunta" class="mdc-text-field__input" rows="8" cols="40"></textarea>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                            <label for="textarea" class="mdc-floating-label"><b>Descrição</b></label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>

                    <label class="mdc-button mdc-button--outlined" style="margin-top: 20px;">
                        <input id="files" class="file-upload-btn" name="files" type="file" multiple/>
                        <span class="mdc-button__label">Enviar Arquivos</span>
                    </label>
                    <h4 style="color: rgba(0, 0, 0, 0.6);">*Em caso de múltiplos arquivos, envie um arquivo ZIP contendo os arquivos desejados!</h4>
                    <button type="submit" class="mdc-button mdc-button--outlined" style="margin-top: 20px;">
                        <span class="mdc-button__label">Enviar</span>
                    </button>
                </form>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-4" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-4-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" data-micromodal-close>chevron_left</button>
                <h2 class="modal__title" id="modal-4-title">Gerenciar Curso</h2>
            </header>
            <main class="modal__content" id="modal-4-content">
                <div class="invite-wrapper" id="edit-cursos">
                    @foreach (CursoAluno c in ViewBag.CursoAluno) {
                        <div class="invite" id="edit-curso-aluno-@c.CursoId">
                            @if (@c.statusInvite == 0)
                            {
                                <div class="invite-left">
                                    @c.Curso.CursoNome
                                </div>
                                <div class="invite-right">
                                    <button class="mdc-icon-button material-icons" onclick="openCourseEdit(@c.CursoAlunoId)">edit</button>
                                    <button onclick="declineInvite(@c.CursoAlunoId)" class="mdc-icon-button material-icons">clear</button>
                                </div>
                            }
                            
                        </div>
                    }
                </div>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-5" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-5-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" onclick="SearchModalClose()">chevron_left</button>
                <input class="modal__header__searchbar" type="text" id="myInput" onkeydown="search(this)" placeholder="Buscar...">
            </header>
            <main class="modal__content" id="modal-5-content">
                <div class="modal-5-content-list"></div>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-6" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-6-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" data-micromodal-trigger="modal-1" data-micromodal-close>chevron_left</button>
                <h2 class="modal__title" id="modal-6-title">Conta</h2>
            </header>
            <main class="modal__content" id="modal-6-content">
                <form id="perfil-form" class="form-wrapper" name="form" method="post">
                    <label for="nome-usuario" class="input-label" style="margin-top: -10px;">Nome</label>
                    <div class="mdc-text-field mdc-text-field--outlined">
                        <input class="mdc-text-field__input" id="nome-usuario" type="text" maxlength="30" value="@ViewBag.Usuario.UsuarioNome">
                        <div class="mdc-notched-outline mdc-notched-outline--no-label">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field-helper-line">
                        <div class="mdc-text-field-character-counter">0 / 30</div>
                    </div>
                    <label for="email-usuario" class="input-label">E-Mail</label>
                    <div class="mdc-text-field mdc-text-field--outlined">
                        <input class="mdc-text-field__input" id="email-usuario" type="email" value="@ViewBag.Usuario.UsuarioEmail">
                        <div class="mdc-notched-outline mdc-notched-outline--no-label">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <button type="submit" class="mdc-button mdc-button--outlined" style="margin-top: 20px;">
                        <span class="mdc-button__label">Salvar</span>
                    </button>
                </form>
            </main>
            <footer class="modal__footer"></footer>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-7" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-7-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" data-micromodal-trigger="modal-1" data-micromodal-close>chevron_left</button>
                <h2 class="modal__title" id="modal-7-title">Senha</h2>
            </header>
            <main class="modal__content" id="modal-7-content">
                <form id="senha-perfil-form" class="form-wrapper" name="form"  method="post">
                    <label for="senha-usuario" class="input-label" style="margin-top: -10px;">Senha</label>
                    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                        <i class="material-icons mdc-text-field__icon">lock</i>
                        <input class="mdc-text-field__input" id="senha-usuario" type="password" minlength="3" maxlength="25" value="@ViewBag.Usuario.UsuarioSenha">
                        <div class="mdc-notched-outline mdc-notched-outline--no-label">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field-helper-line">
                        <div class="mdc-text-field-character-counter">0 / 25</div>
                    </div>
                    <label for="senha-confirmar" class="input-label">Repetir Senha</label>
                    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                        <i class="material-icons mdc-text-field__icon">lock</i>
                        <input class="mdc-text-field__input" id="senha-confirmar" type="password" minlength="3" maxlength="25" value="@ViewBag.Usuario.UsuarioSenha">
                        <div class="mdc-notched-outline mdc-notched-outline--no-label">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field-helper-line">
                        <div class="mdc-text-field-character-counter">0 / 25</div>
                    </div>

                    <button type="submit" class="mdc-button mdc-button--outlined" style="margin-top: 20px;">
                        <span class="mdc-button__label">Salvar</span>
                    </button>
                </form>
            </main>
            <footer class="modal__footer"></footer>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-8" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-8-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" data-micromodal-trigger="modal-4" data-micromodal-close>chevron_left</button>
                <h2 class="modal__title" id="modal-8-title">Editar Curso</h2>
            </header>
            <main class="modal__content" id="modal-8-content">
                <form id="edit-form" class="form-wrapper" data-cursoAlunoId="">
                    <label for="nome-pergunta" class="input-label" style="margin-top: -15px;">Selecionar Cor</label>
                    <div class="tag-select-wrapper" data-selected="#add8e6" style="margin-top: 5px">
                        <div class="mdc-radio" id="tag-1">
                            <input class="mdc-radio__native-control" data-color="#add8e6" type="radio" id="color-1" name="radios" checked>
                            <div class="mdc-radio__background">
                                <div class="mdc-radio__outer-circle"></div>
                                <div class="mdc-radio__inner-circle"></div>
                            </div>
                            <div class="mdc-radio__ripple"></div>
                        </div>
                        <div class="mdc-radio" id="tag-2">
                            <input class="mdc-radio__native-control" data-color="#f08080" type="radio" id="color-2" name="radios">
                            <div class="mdc-radio__background">
                                <div class="mdc-radio__outer-circle"></div>
                                <div class="mdc-radio__inner-circle"></div>
                            </div>
                            <div class="mdc-radio__ripple"></div>
                        </div>
                        <div class="mdc-radio" id="tag-3">
                            <input class="mdc-radio__native-control" data-color="#90ee90" type="radio" id="color-3" name="radios">
                            <div class="mdc-radio__background">
                                <div class="mdc-radio__outer-circle"></div>
                                <div class="mdc-radio__inner-circle"></div>
                            </div>
                            <div class="mdc-radio__ripple"></div>
                        </div>
                        <div class="mdc-radio" id="tag-4">
                            <input class="mdc-radio__native-control" data-color="#ffa07a" type="radio" id="color-4" name="radios">
                            <div class="mdc-radio__background">
                                <div class="mdc-radio__outer-circle"></div>
                                <div class="mdc-radio__inner-circle"></div>
                            </div>
                            <div class="mdc-radio__ripple"></div>
                        </div>
                        <div class="mdc-radio" id="tag-5">
                            <input class="mdc-radio__native-control" data-color="#20b2ab" type="radio" id="color-5" name="radios">
                            <div class="mdc-radio__background">
                                <div class="mdc-radio__outer-circle"></div>
                                <div class="mdc-radio__inner-circle"></div>
                            </div>
                            <div class="mdc-radio__ripple"></div>
                        </div>
                    
                    </div> 
                    <button type="submit" class="mdc-button mdc-button--outlined" style="margin-top: 20px;">
                        <span class="mdc-button__label">Salvar Alterações</span>
                    </button>
                </form>
            </main>
            <footer class="modal__footer"></footer>
        </div>
    </div>
</div>
<div id="overlay"></div>
<!--FOOTER-->
</div>

@section Scripts {
    <script type="text/javascript">

        const tabBars = document.querySelectorAll('.mdc-tab-bar');
        for (const tabBar of tabBars){
            mdc.tabBar.MDCTabBar.attachTo(tabBar);
        }

        const radios = document.querySelectorAll('.mdc-radio');
        for (const radio of radios){
            mdc.radio.MDCRadio.attachTo(radio);
        }

        const dialogs = document.querySelectorAll('.mdc-dialog');
        for (const dialog of dialogs){
            mdc.dialog.MDCDialog.attachTo(dialog);
        }

        const textFields = document.querySelectorAll('.mdc-text-field');
        for (const textField of textFields) {
            mdc.textField.MDCTextField.attachTo(textField);
        }

        const selects = document.querySelectorAll('.mdc-select');
        for (const select of selects) {
            mdc.select.MDCSelect.attachTo(select);
        }

        const buttons = document.querySelectorAll('.mdc-button');
        for (const button of buttons) {
            mdc.ripple.MDCRipple.attachTo(button);
        }

        const lists = document.querySelectorAll('.mdc-list');
        const listItems = document.querySelectorAll('.mdc-list-item');
        for (const list of lists) {
            mdc.list.MDCList.attachTo(list);
            for (const listItem of listItems){
                mdc.ripple.MDCRipple.attachTo(listItem);
            }
        }
        
        async function logout() {
            const response = await fetch('api/Usuario/LogoutUsuario');
            if(!response.ok){
                throw Error(response.statusText);
            }

            window.location.reload();
        }

        $('#perfil-form').submit(async function(event){
            event.preventDefault();

            const perfilData = {
                'UsuarioId': @ViewBag.Usuario.UsuarioId,
                'UsuarioNome': $('#nome-usuario').val(),
                'UsuarioEmail': $('#email-usuario').val(),
                'UsuarioSenha': @ViewBag.Usuario.UsuarioSenha,
            }
            
            await fetch('api/Usuario/' + @ViewBag.Usuario.UsuarioId, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(perfilData)
            })
            .then(response => {
                alert('Dados alterados');
            })
            .catch(error => alert(error));
        });

        $('#senha-perfil-form').submit(async function(event){
            event.preventDefault();

            if($('#senha-usuario').val() != $('#senha-confirmar').val()){
                return alert('As senhas não combinam!');
            }
            const senhaPerfilData = {
                'UsuarioId': @ViewBag.Usuario.UsuarioId,
                'UsuarioSenha': $('#senha-usuario').val(),
                'UsuarioNome': '@ViewBag.Usuario.UsuarioNome',
                'UsuarioEmail': '@ViewBag.Usuario.UsuarioEmail'
            }

            await fetch('api/Usuario/' + @ViewBag.Usuario.UsuarioId, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(senhaPerfilData)
            })
            .then(response => {
                alert('Senha alterada');
            })
            .catch(error => alert(error));
        });

        $("#pergunta-form").submit(async function(event){
            event.preventDefault();
            
            let cursoAlunoId;
            $('#lista-cursos').children('li').each(function(){
               if($(this).hasClass('mdc-list-item--selected')){
                   cursoAlunoId = $(this).data('value');
               }
            });

            if(cursoAlunoId == null){
                return alert('Selecione um curso!');
            }

            const pergunta = {
                'PerguntaNome': $('#assunto-pergunta').val(),
                'PerguntaDesc': $('#texto-pergunta').val(),
                'Arquivado' : 0, 
                'CursoAlunoId': cursoAlunoId,
            }

            const response = await fetch('api/Pergunta/addPergunta', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(pergunta)
            });

            if(!response.ok){ throw Error(response.statusText); }
            
            const data = await response.json();
            const files = $('#files').prop('files');
            
            if(files.length > 0) {
                console.log(`Foram selecionados ${files.length} arquivos!`);
                let progressbar = 0;
                for(file of files){
                    const formData = new FormData();
                    formData.append('file', file);

                    await fetch('api/Pergunta/UploadArquivo', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => {
                        progressbar += 100 / files.length; 
                        console.log(Math.round(progressbar));
                    })
                    .catch(error => console.log(error));
                }
            }
            window.location.reload();
        });

        function pickCursoAlunoId(){
            $('#lista-cursos').children('li').each(function(){
               if($(this).hasClass('mdc-list-item--selected')){
                   const id = $(this).data('value');
                   console.log(id);
                   return id;
               }
            })
        }

        MicroModal.init({
            awaitCloseAnimation: true,
            disableFocus: true,
            disableScroll: true
        });

        function SearchModalFocus(){
            $(".mobile-header-backdrop").toggleClass("mobile-header-backdrop--after");
            setTimeout(function(){
                MicroModal.show( 'modal-5'); $("#myInput").focus();
            }, 150 );
        }

        
        function SearchModalClose(){
            MicroModal.close('modal-5');
            $(".mobile-header-backdrop").removeClass("mobile-header-backdrop--after");
            $('.modal-5-content-list').empty();
        }

        function selecionaMateria(e) {
            var id = this.getAttribute("data-id");
            var target = document.getElementById(this.getAttribute("data-target"));
            target.setAttribute("data-id", id);
            target.textContent = this.textContent;
        }

        async function acceptInvite(cursoAluno_id){
            await fetch('/api/CursoAluno/' + cursoAluno_id, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({CursoAlunoId: cursoAluno_id})
            })
            .then(response => {
                $('#invite-curso-aluno-' + cursoAluno_id).remove();
                alert('Convite aceito!');
            })
            .catch(error => alert(error));
        }

        async function declineInvite(cursoAluno_id){
            await fetch('/api/CursoAluno/' + cursoAluno_id, {
                method: 'DELETE'
            })
            .then(response => { 
                console.log(response);
                $('#invite-curso-aluno-' + cursoAluno_id).remove();
                $('#edit-curso-aluno-' + cursoAluno_id).remove();
                window.location.reload();
            })
            .catch(error => alert(error));
        }

        $('.mdc-radio input').on('change', function() {
            $('.tag-select-wrapper').attr('data-selected', $(this).attr('data-color'));
        });

        function openCourseEdit(id){
            MicroModal.show('modal-8');
            $('#edit-form').data('cursoAlunoId', id);
        }

        $('#edit-form').submit(async function(event){
            event.preventDefault();
            
            const cursoAlunoId = $(this).data('cursoAlunoId');

            const cursoAluno = {
                CursoAlunoId: cursoAlunoId,
                Color: $('.tag-select-wrapper').data('selected') 
            }
            await fetch('api/CursoAluno/ChangeColor', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(cursoAluno)
            })
            .then(response => {
                alert('Curso editado!');
                window.location.reload();
            })
            .catch(err => alert(err));
        });

        $(document).ready(function () {
            //MOBILE - ABRIR / FECHAR SIDEBAR
            $("#mobile-sidebar-button").click(function () {
                $("#overlay").fadeToggle(300);
                $(".sidebar-wrapper").toggleClass('sidebar-wrapper-after');
            });

            $("#overlay").click(function () {
                $("#overlay").fadeOut(300);
                $(".sidebar-wrapper").removeClass('sidebar-wrapper-after');
            });
            //-------------------------------------------------------------

            (function(){
                $('.materia-title').each(function(){
                    if (this.offsetWidth + 47 < this.scrollWidth) {
                        $(this).addClass('list-select-overflowing');
                    }
                });
            })();

            //FORMATO MOBILE - HOVER PARA NOMES GRANDES DE INBOX            TODO: MOBILE GESTURES (on hold)
            $(".list-select").hover(function () {
                var nomeMateriaContainer = $(this).find('.materia-title-container')[0];
                var nomeMateria = $(this).find('.materia-title-container').find('.materia-title')[0];

                if ($(nomeMateria).hasClass('list-select-overflowing')) {
                    var parent_width = nomeMateriaContainer.offsetWidth - 47;
                    nomeMateria.style.transform = 'translateX(calc(-100% + ' + parent_width + 'px))';
                    $(this).mouseleave(function () {
                        nomeMateria.style.transform = ''
                    });
                }
            });
        });

        let perguntas; 
        
        getPerguntas()
            .then(response => {
                perguntas = response;
                for(pergunta of perguntas){
                    criarPergunta(pergunta);
                }
            })
            .catch(err => console.error(err));
            
        async function getPerguntas() {
            const response = await fetch('api/Pergunta/GetPerguntaByAluno?user_id=' + @ViewBag.AlunoId);

            if(!response.ok){
                console.log('Usuario não encontrado!');
            }

            const perguntas = await response.json();

            return perguntas;    
        }

        $('#my-list li').click(function (){
           $('.mail-list').empty();

           const option = $(this).text().trim();

            if(option == 'inbox'){
                for(pergunta of perguntas){
                    $('.current-inbox-title').text(option);
                    criarPergunta(pergunta);
                }
                return;
            }else if(option == 'arquivadas'){
                $('.current-inbox-title').text(option);
                for(pergunta of perguntas){
                    if(pergunta.arquivado == 1){
                        criarPergunta(pergunta);
                    }
                }
                return;
            }else{
                $('.current-inbox-title').text(option);
                for(pergunta of perguntas){
                    if(pergunta.cursoAluno.cursoAlunoId == $(this).data('id')){
                        
                        criarPergunta(pergunta);
                    }
                }
                return;
            }
        });

        function criarPergunta(pergunta){
            $('.mail-list').append(`
                <div class="mail-item-wrapper">
                    <a class="mail-item-container" href="Pergunta/index/${pergunta.perguntaId}">
                        <div class="mail-item-left">
                            <img class="account-picture" src="/img/porter.jpg">
                            <span class="tag-icon" style="background: ${pergunta.cursoAluno.cursoAlunoTag};">
                            </span>
                        </div>
                        <div class="mail-item-right">
                            <div class="mail-item-header">
                                <div class="mail-sender">${(pergunta.cursoAluno.curso.cursoNome)}</div>
                                <div class="mail-time">${(pergunta.perguntaData).substring(0, 10)}</div>
                            </div>
                            <div class="mail-subject">${pergunta.perguntaNome}</div>
                            <div class="mail-summary-text">
                                ${pergunta.perguntaDesc}
                            </div>
                        </div>
                    </a>
                </div>
            `);
        }

        function search(ele){
            $('.modal-5-content-list').empty();   
            for(pergunta of perguntas){
                if(((pergunta.perguntaNome).toLowerCase()).indexOf(ele.value) == 0 || ((pergunta.perguntaDesc).toLowerCase()).indexOf(ele.value) == 0 || ((pergunta.cursoAluno.curso.cursoNome).toLowerCase()).indexOf(ele.value) == 0){
                    $('.modal-5-content-list').append(`
                        <div class="mail-item-wrapper">
                            <a class="mail-item-container" href="Pergunta/index/${pergunta.perguntaId}">
                                <div class="mail-item-left">
                                    <img class="account-picture" src="/img/porter.jpg">
                                    <span class="tag-icon" style="background: ${pergunta.cursoAluno.cursoAlunoTag};">
                                    </span>
                                </div>
                                <div class="mail-item-right">
                                    <div class="mail-item-header">
                                        <div class="mail-sender">${(pergunta.cursoAluno.curso.cursoNome)}</div>
                                        <div class="mail-time">${(pergunta.perguntaData).substring(0, 10)}</div>
                                    </div>
                                    <div class="mail-subject">${pergunta.perguntaNome}</div>
                                    <div class="mail-summary-text">
                                        ${pergunta.perguntaDesc}
                                    </div>
                                </div>
                            </a>
                        </div>
                    `);
                }
            }
        }
    </script>
}